---
import Layout from "./Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

type Props = {
  title?: string;
  description?: string;
  lang?: string;
  dir?: "ltr" | "rtl" | "auto";
  ogImage?: string;
  pubDatetime?: Date;
  modDatetime?: Date | null;
};

const {
  title,
  description,
  lang = "en",
  dir = "ltr",
  ogImage,
  pubDatetime,
  modDatetime,
} = Astro.props;
---

<Layout
  title={title}
  description={description}
  lang={lang}
  dir={dir}
  ogImage={ogImage}
  pubDatetime={pubDatetime}
  modDatetime={modDatetime}
>
  <Header />
  <main class="app-layout flex-1 py-8">
    <slot />
  </main>
  <Footer />
</Layout>
